$ssucces-bg: linear-gradient(45deg, #2fd822, #2eb0efad);
$danger-bg: linear-gradient(45deg, #d82222, #ef7f2ead);
$warning-bg: linear-gradient(45deg, #d7d822, #ef9a2ead);
$info-bg: linear-gradient(45deg, #22c9d8, #2eef73ad);
$grey-color: #616161;
$white-color: #f1f1f1;